* {
  box-sizing: border-box;
}

header {
  background-color: #eeeeee;
  border-bottom: 3px solid #eeeeee;
  position: relative;
  padding: 5px;
  margin: -10px -10px;
  box-shadow: 0px 5px 10px #4a4a4a;
}

.container {
  max-width: 1200px;
}

body {
  background-color: #eeeeee;
  font-family: outfit, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #252525;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 1.50em;
  font-weight: 700;
}

h3 {
  font-size: 1.35em;
  font-weight: 700;
}

h4 {
  font-size: 1.35em;
  font-weight: 700;
}

.button {
  display: inline-block;
  text-decoration: none;
  background-color: #ff4c4d;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #252525;
  text-transform: uppercase;
  border: 2px solid #ff4c4d;
}

.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}

.container {
  padding: 0 15px;
}

.logo {
  max-width: 150px;
}
.row {
  margin: 25px 0;
}
main {
  padding-top: 56px;
}
#hero h1 {
  text-align:center;
  margin: 0;
  padding: 0.67em 0;
}

#hero {
  background-color: #eeeeee;
  text-align: center;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#footer h2 {
  text-align:center;
  margin: 0;
  padding: 0.67em 0;
}

footer {
  text-align: center;
  padding: 20px 0;
  display:inline-block;
  width: 100%;
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

  /* Layout styling */
  nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  nav>ul>li>a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;
    text-decoration: none;
  }
  .navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    padding: 10px 0;
    font-size: 25px;
  }
  .navtoggle li:not(:last-child) {
    display: none;
  }
  .navtoggle.responsive nav {
    padding: 24px 0 0;
  }
  .navtoggle.responsive li  {
    display: block;
    padding: 10px 0;
    border-top:#ffffff;
  }
  .navtoggle.responsive li:last-child  {
    padding: 0 0 10px;
  }
  .navtoggle.responsive li  {
    display: block;
  }
  .navtoggle, .navtoggle.responsive {
    position: relative;
  }
  nav>ul>li>a:hover {
    text-transform: uppercase;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  @media only screen and (min-width: 640px) {

    header {
      text-align: unset;
      padding: 20px 0 13px;
    }
    nav {
      width: auto;
      float: right;
      margin-top: 0px;
    }
    nav > ul {
      margin: 1em 0;
    }
    nav>ul>li {
      display: inline-block;
    }
    .navtoggle li:not(:last-child) {
      display: inline-block;
    }
    .navtoggle li:last-child {
      display: none;
    }
    .content {
      margin-top: -25px;
    }
  }
   
  @media only screen and (min-width: 1024px) {
    .content {
      margin-top: 30px;
      }

    .col-md-6 {
      width: 50%;
    }
  }

  @media only screen and (min-width: 1440px) {
    .container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }